.comment-create {


    textarea {
        margin-bottom: 10px;
        &::placeholder {
            color: whitered;

        }
        &:focus {
            border-bottom: solid gray 0.5px !important;
            border-radius: 0;
        }
    }
}
