* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body, *::before, *::after {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: $primary;
}
