.home-page {
    background-color: $primary;
    // .main-header {
    //     border-bottom: solid gray 0.5px;
    //     background-color: $primary;
    //     backdrop-filter: blur(10px);
    //     opacity: 0.7;
    //     color: white;
    // }

    .home {
        margin-top: 60px;
    }
    .main-content {

        border: solid gray 0.5px;

        .status-container {
            border-bottom: solid gray 0.5px;

            textarea {
                margin-bottom: 10px;
                &::placeholder {
                    color: white;
                    font-size: 1.25rem;
                }
                &:focus {
                    border-bottom: solid gray 0.5px !important;
                    border-radius: 0;
                }
            }
        }

        }

        span {
            font-size: 2rem;
            margin-right: 20px;
            color: white;
    }

    .header {
        .main-header {
            border-inline: solid gray 0.5px;
        }
    }


}

.view-post {
    .back-group {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: white;
        margin-left: 1rem;

        p {
            margin: 0;
        }
    }

    .back-btn {
        background-color: $primary;
        border: none;
        padding: 20px 5px; /* Adjust the padding as needed */
        cursor: pointer; /* Ensure cursor changes to pointer on hover */
        display: inline-block; /* Ensure the button takes the width of its content */

        bi {
            font-size: 1rem;
        }
    }


}

