.home-page {
    background-color: $primary;
    .main-content {

        border: solid gray 0.5px;

        .status-container {
            border-bottom: solid gray 0.5px;
        }
        .post-container {
            border-bottom: solid gray 0.5px;
            }
            p {
                margin: 0;
            }
        }

        span {
            font-size: 2rem;
            margin-right: 20px;
            color: white;
    }

    .header {
        .main-header {
            border-inline: solid gray 0.5px;
        }
    }

    .post-container:hover {
        background-color: $post-hover !important;
        cursor: pointer;
    }

    .post-content {
        button:hover {
            background-color: $post-hover;
        }

        .dropdown-menu {
            li:hover {
                background-color: $post-hover !important
            }

            .bi {
                font-size: 1rem;
                margin-right: 5px;
            }

            .menu-item {
                background: none;
                color: white;
                border: none;
                margin-left: 10px;
                padding-block: 5px;
            }
        }
    }
}

.view-post {
    .back-group {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: white;
        margin-left: 1rem;

        p {
            margin: 0;
        }
    }

    .back-btn {
        background-color: $primary;
        border: none;
        padding: 10px 5px; /* Adjust the padding as needed */
        cursor: pointer; /* Ensure cursor changes to pointer on hover */
        display: inline-block; /* Ensure the button takes the width of its content */

        bi {
            font-size: 1rem;
        }
    }


}
