.header {
    .main-header {
        @media (max-width : map-get($grid-breakpoints, md)) {
            border-bottom: solid rgba(128, 128, 128, 0.45) 0.5px;
            // background-color: $primary;
            backdrop-filter: blur(10px);
            color: white;

            .logo {
                width: 60px;
            }
        }
    }
}
.home-page {
    background-color: $primary;


    .home {
        margin-top: 60px;
    }
    .main-content {

        border: solid rgba(128, 128, 128,0.4) 0.5px;

        .status-container {
            border-block: solid rgba(128, 128, 128,0.4) 0.5px;

            .profile-img {
                width: 50px;
                min-width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                }
            }

            .text-area span {
                font-size: 2rem;
                margin-right: 20px;
                color: white;
            }

            textarea {
                margin-bottom: 10px;
                &::placeholder {
                    color: white;
                    font-size: 1.25rem;
                }
                &:focus {
                    border-bottom: solid gray 0.5px !important;
                    border-radius: 0;
                }
            }

            .post-btn button {
                margin-left: 30px;
                span {
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }

        span {
            font-size: 2.9rem;
            margin-right: 10px;
            color: white;
        }
    }



    .header {
        .main-header {
             border: solid rgba(128, 128, 128,0.4) 0.5px;
        }
    }

}

.bookmarks {
    .header {
        border-bottom: solid rgba(128, 128, 128,0.4) 0.5px;
        h2 {
margin-bottom: 0;
        }
    }
}
.view-post {
    .back-group {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: white;
        margin-left: 1rem;

        p {
            margin: 0;
        }
    }

    .back-btn {
        background-color: $primary;
        border: none;
        padding: 20px 5px; /* Adjust the padding as needed */
        cursor: pointer; /* Ensure cursor changes to pointer on hover */
        display: inline-block; /* Ensure the button takes the width of its content */

        bi {
            font-size: 1rem;
        }
    }


}

