.logo{

        img {
            width: 80px;
        }
    }

.user-btn {
    bottom: 0;

    button {
        background-color: none;
    }

    span {
        margin-right: 10px;
    }
    .username {
        p {
            text-align: start;
            color: white;
            margin-bottom: 0;
            font-weight: 100;
                &:first-child {
                    font-weight: bold;
                font-size: 1rem;
            }
        }
    }

    .dropdown-menu {
        li {
            a {
                color: white;
                font-size: 1rem;
            }
        }
    }
}

.sidebar-nav {
    max-width: 220px;
    .navbar {
        margin-top: 10vh;
        a {
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
        }
        .nav-link {
            &:hover {
                color: $danger;
            }

        }
        .nav-link.active {
            color: $danger;
        }
    }

}
