.messages-container{
    .chat-rooms {
        border-inline: solid rgba(128, 128, 128,0.4) 0.5px;
        height: 100vh;
        .header {
            #newMessage {
                border-radius: 50%;

                &:hover {
                    background-color: green;
                }
            }
            span {
                font-size: 1.4rem;
            }

            .modal-body {
                .search {
                    ::placeholder {
                        color: white;
                    }
                }
                .user-list {
                    .user-info {
                        .img-container {
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            border-radius: 50%;
                            img {
                                width: 100%;
                            }
                        }
                        .name {
                            p {
                                color: gray;
                            }
                        }
                    }
                }
            }

        }
        .threads {
            .user-info {
                padding: 10px;
                border-radius: 20px;
                .img-container {
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                        width: 100%;
                    }
                }
                .name {
                    p {
                        color: gray;
                    }
                }
                &:hover {
                    background-color: $post-hover;
                    cursor: pointer;
                }
            }
        }

    }
    .conversation {
        border-right: solid rgba(128, 128, 128,0.4) 0.5px;
        position: relative;
        .chat-header {
            border-bottom: solid rgba(128, 128, 128,0.4) 0.5px;
            .img-container {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                }
            }
            p {
                color: gray;
            }
        }
        .empty {
            height: 100vh !important;
            overflow: auto;
            h1 {
                font-weight: 700;
            }
            .chat-app {

            }
            .chats {
                // background-color: green;
                margin-bottom: 70px;
            }
        }
        .send-message {
            background-color: $primary;
            position: absolute;
            bottom: 0px;
            padding: 10px 30px;
            span {
                color: white;
                font-size: 1.4rem;
            }
            #message {
                background-color: rgb(39, 51, 64);
                color: white;
                caret-color: white;
                border-color: $primary;

                &::placeholder {
                    color: white;
                }
            }
        }
        .chats-container {

            .chats {
                .right {
                    display: flex;
                    justify-content: right;
                    padding-right: 20px;

                    .display-right {
                        max-width: 70%;
                        padding: 10px 20px;
                        background-color:rgb(49, 200, 142);
                        display: inline;
                    }
                    p {
                        width: 100%;
                        display: inline;
                        word-wrap: break-word;
                    }
                }
                .date-right {
                    text-align: right;
                    padding-right: 20px;
                    font-size: 11px;
                    color: gray;
                }
                .date-left {
                    text-align: left;
                    padding-left: 20px;
                    font-size: 11px;
                    color: gray;
                }
                .date {
                    text-align: center;
                    font-size: 11px;
                    color: gray;
                }
                .left {
                    display: flex;
                    justify-content: left;
                    padding-left: 20px;
                    .display-left {
                        max-width: 70%;
                        padding: 10px 20px;
                        background-color: rgb(61, 84, 102);
                        display: inline;
                    }
                    p {
                        width: 100%;
                        display: inline;
                        word-wrap: break-word;
                    }
                }
            }

        }
    }
}
