.post-container {
    border-bottom: solid gray 0.5px;

    .profile-img {
        width: 50px;
        min-width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    &:hover {
        background-color: $post-hover !important;
        cursor: pointer;
    }

    p {
        margin: 0;
    }
    // DROPDOWN ITEMS
    .post-content {
        max-width: 100%;
        pre {
            white-space: pre-wrap;
            // font-family: "Courier New", Courier, monospace;
            font-size: 14px;
            overflow: hidden;
        }

        button:hover {
            background-color: $post-hover;
        }

        .dropdown-menu {
            li:hover {
                background-color: $post-hover !important
            }

            .bi {
                font-size: 1rem;
                margin-right: 5px;
            }

            .menu-item {
                background: none;
                color: white;
                border: none;
                margin-left: 10px;
                padding-block: 5px;
                padding-right: auto;
            }
        }
    }

    .post-actions {
        padding-left: 50px;
        span {
            color: gray;
            font-size: 0.9rem;
            &::before {
                color: white;
                font-size: 1.2rem;
                margin-right: 5px;
            }
        }
    }
    .post-actions-2 {
        padding-left: 50px;
        margin-bottom: 1em;
        border-block: solid 0.5px gray;
        span {
            color: gray;
            font-size: 0.9rem;
            &::before {
                color: white;
                font-size: 1.2rem;
                margin-right: 5px;
            }
        }
    }
}

