.post-container {
    border-bottom: solid gray 0.5px;

    &:hover {
        background-color: $post-hover !important;
        cursor: pointer;
    }

    p {
        margin: 0;
    }
    // DROPDOWN ITEMS
    .post-content {
        button:hover {
            background-color: $post-hover;
        }

        .dropdown-menu {
            li:hover {
                background-color: $post-hover !important
            }

            .bi {
                font-size: 1rem;
                margin-right: 5px;
            }

            .menu-item {
                background: none;
                color: white;
                border: none;
                margin-left: 10px;
                padding-block: 5px;
                padding-right: auto;
            }
        }
    }

    .post-actions {
        span {

            font-size: 1.2rem;
        }
    }
}

