.resource-link
{
    text-align: start;
    color: white;
    margin-bottom: 0;
    font-weight: 100;
        &:first-child {
            font-weight: bold;
        font-size: 1rem;
        }
}

.resource-link{
    &:hover
    {
        color: $danger;
    }
}

.resource-link.active
{
    color: $danger;
}

