// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:       #171717;
$secondary:     #444444;
// $success:       $green ;
$info:          #EDEDED ;
// $warning:       $yellow ;
$danger:        #DA0037;
// $light:         $gray-100 ;
// $dark:          $gray-900 ;
