// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'globals';

@import 'home';

@import 'post-card';

@import 'search-bar';
@import 'comments';
@import 'left-sidebar';
@import 'profile';

.group-password {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0;
    margin-right: 10px;
    span {
        font-size: 1.5rem;
    }
}
